<h1>Friends</h1>

<% if !@friends.empty? %>

  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-dark table.hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><%= friend.first_name + ' ' + friend.last_name %></td>
            <td> <%= friend.email %> </td>
            <td><%= link_to 'Delete', friends_path(friend), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>

  <h2>You currently do not have any friends listed</h2>

<% end %>